
body {
	margin: 0px;
	background-color:#aa9f9f;

}

.navbarcontainer {
	width: 1300px;
	height: 60px;
	font-family: helvetica;
	background-color: rgb(45, 27, 27);
	margin: 0;
	padding-top: 10px;
	box-shadow: 0px -9px 16px -8px rgb(117, 117, 117) inset;
	position: fixed;
	float: left;
	z-index: 1;
}

#navlinks {
	width: 35%;
	float: right;
	margin-top: 20px;
}

#navlinks ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#navlinks ul li {
	display: inline;
}

#navlinks ul li a {
	text-decoration: none;
	padding: 5px 10px;
	font-size: 17px;
	font-family: helvetica;
	color: rgb(175, 175, 175);
	font-weight: normal;

}

#navlinks ul li a:hover {
	color: #fff;
}

.logo {
	width: 30%;
	float: left;
	margin-left: 33px;
	padding-bottom:10px;
}
.logo img {
	float: left;
	width: 47px;
}
.logo span a {
	font-size: 43px;
	padding-left: 10px;
	color: #fff;
	font-family: Marmelad, serif;
	text-decoration: none;
}
.logo span a:hover {	

	color: #fff;
}


.widecontainer {
	width: 880px;
	background-color:#fff;
	padding:80px;
	margin:0 auto;
	clear: both;
	overflow: hidden;
	min-height: 530px;
	box-shadow: 0px 15px 25px 10px rgb(78, 57, 57);
	

}

.recipecontainer {
	margin: 0 auto;
	clear: both;
	width: 774px;
	overflow: hidden;
}

.recipecontainer .liner{
	margin-right: -15px;
}

.recipe {
	
	border-radius: 6px;
	margin-top: 15px;
	margin-right: 5px;
	margin-left: 5px;
	width: 244px;
	float: left;
	overflow: hidden;
	border: 2px solid rgb(148, 148, 148);
	border-bottom-style: groove;
	background-color: rgb(228, 228, 228);
	box-shadow: 0px 0px 5px rgb(158, 158, 158);	
	text-align: center;

}

.recipe a {
	text-decoration: none;
	float: left;
}

.recipe a:hover {
	font-family: Marmelad;
	color: #fff;
	background-color: rgb(140, 140, 140);
	opacity: 1;
  	transition: opacity .25s ease-in-out;
  	-moz-transition: opacity .25s ease-in-out;
  	-webkit-transition: opacity .25s ease-in-out;

}


.recipe a img {
	float: left;
	width:240px;
	height: 276px;
	border: 2px solid #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	opacity: 0.9;

	/*display:inline-block;*/
}

.recipe .name {
	font-size: 16px;
	font-family: Marmelad;
	color: rgb(48, 27, 27);
	text-align: center;
	border-top: 1px solid;
	border-top-style: groove;
	padding: 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	float: left;
	width: 224px;
}

.recipe a .name:hover {
	color: #fff;
}
   

.bottomcontainer {
	min-height: 35px;
	font-family: serif;
	text-align: center;
	color: rgb(184, 184, 184);
	font-size: 23px;
	font-style: italic;
	padding-top: 10px;
	background-color: rgb(46, 17, 17);
	clear: both;
}



/*Styling for Individual Recipes*/



.imagecontainer {
	width: 800px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.8);
	margin:0 auto;
	clear: both;
	text-align: center;
	overflow: hidden;

}


.imagecontainer img {
	transform:rotate(270deg);
	transform-origin:50% 50%;
	-ms-transform:rotate(270deg); /* IE 9 */
	-ms-transform-origin:50% 50%;
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-webkit-transform-origin:50% 50%; /* Safari and Chrome */
	
	border: 1px solid black;
	padding: 10px;
	
}

.image_heading {
	text-align: left;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 800px;
	margin:10px auto;
	clear: both;
}

h3 {
	margin: 0px;
}
h4 {
	font-weight: normal;
	margin: 0px;
}

p {
	font-size: 15px;
	color: rgb(121, 121, 121);
	margin: 0px;
	
}








