* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
font-family: 'Roboto', helvetica, sans-serif;
font-weight: 400;
color: #707070;

}

.container{
 	width: 1170px;
 	margin: 0 auto;
 	clear: both;
 	margin-bottom: 200px;
}

header{
	width: 960px;
	margin: 0 auto;
}
.right-bar{
	text-align: right;
	margin-top: 10px;
}

.right-bar h3 {
	width: 60px;
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
}
.right-bar h3:hover{
	color: #555;
	font-weight: 700;
}
.right-bar a{
	text-decoration: none;
	color: #707070;
}

.right-bar span{
	margin: 0px 10px;
}
.right-bar img{
	width: 18px;
	opacity: 0.7;
}
.right-bar img:hover{
	opacity: 1;
}

.logo-container{
	text-align: center;
}
.logo-container img{
	width: 225px;
}

.about{
	text-align: center;
	width: 665px;
	margin: 22px auto;
	line-height: 27px;
	font-size: 15px;
}

.action-buttons{
	width: 510px;
	margin: 0 auto;
	overflow: hidden;
}

.action-buttons img{
	float: left;
	opacity: 0.85;
}
.action-buttons img:hover{
	opacity: 1;
}
.action-buttons button{
	margin-top: 3px;
	cursor: pointer;
	width: 240px;
	height: 40px;
	color: #fff;
	font-size: 17px;
	background-color: #f68165;
	border: none;
	float: right;
	border-radius: 3px;
	opacity: 0.85;
	font-family: 'Roboto';
	font-weight: 300;
	letter-spacing: 2px;
}
.action-buttons button:hover{
	opacity: 1;
}

.frame{
	width: 800px;
	margin: 45px auto;
	position: relative;
}

.frame-images .product{
	border: solid 1px #dadada;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.3);
}

.frame-images .product img{
	border: solid 10px #fff;
}
.frame-images .product:hover{
	border: solid 1px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}
.frame-images .black-skirt{
	position: absolute;
	top: 49px;
	left: 80px;
}
.frame-images .red-bag{
	position: absolute;
	top: 49px;
	left: 372px;
}

.frame-images .grey-jumper{
	position: absolute;
	top: 49px;
	left: 572px;
}

.frame-images .colorful-shirt{
	position: absolute;
	top: 316px;
	left: 372px;
}

.frame-images .soap{
	position: absolute;
	top: 255px;
	left: 572px;
}


nav{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #f3f3f3;
	position: fixed;
	bottom: 0px;
	box-shadow: 0px 2px 15px -3px rgba(0,0,0, 0.3) inset;
}

nav .nav-inner{
	overflow: hidden;
	width: 810px;
	margin: 25px auto;
	margin-bottom: 17px;
	font-size: 12px;
}


.nav-columns{
	width: 120px;
	float: left;
	margin-right: 110px;
	font-weight: 400;
	
}


.nav-columns ul li{
	margin-bottom: 10px;
	padding: 2px;

}
.nav-columns ul li a{
	text-decoration: none;
	color: #707070;
}

.nav-columns ul li a:hover{
	color: #555;
	font-weight: 700;
	
}

.nav-inner .last-column{
	margin-right: 0px;
}

.social ul li a{
	color: #141414;
}

footer{
	width: 810px;
	margin: 0px auto;
	font-size: 10px;

}

hr{
	margin: 0.75em 0;
}








