* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  font-family: helvetica, arial, sans-serif;
  background-color: #f0eee6;
}

.container {
	padding-bottom: 150px;
	width:652px;
	margin: 0 auto;
	clear: both;
	padding-top: 10px;	
}

header{
	border-radius: 5px;
	background-color: #64bdcb;
}

header .logocontainer {
	background: rgb(112, 206, 221);
	background-image: url('../multiplexers_images/dots.png');
	margin: 0 auto;
	clear: both;
	text-align: center;
	border: 2px solid #64bdcb;
	border-radius: 5px;

}


header .logocontainer img {
	margin: 18px 0px;

}


#navlinks {
	margin: 0 auto;
	clear: both;
	padding:12px;
	
}

#navlinks ul li {
	display: inline;
	list-style-type: none;

}

#navlinks ul li a {
	text-decoration: none;
	margin-right: 30px;
	margin-left: 31px;
	color: #33838f;
	font-size: 12px;
	text-shadow: 0px 1px #a2d7e0;
}


.container .maincontent {
	overflow: hidden;

}

.maincontent h2 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: georgia;
	font-size: 22px;
	letter-spacing: 1px;
	color: #3a220d;
	font-weight: normal;

}

.maincontent .product{
	float: left;
	width: 380px;
}

.maincontent .product img{
	border: 10px solid #fff;
	box-shadow: 0px 0px 5px rgb(143, 140, 127);
	margin: 2px;

}


.maincontent .product p{
	font-size: 14px;
	font-family: georgia;
	margin-top:25px;
	color: rgb(77, 71, 67);
	line-height: 18px;
	
}


.maincontent .sidebar {
	float: right;
	width: 250px;
	background-color: #ddd9c6;
	padding: 10px;
}


h3{
	margin: 0px;
	padding-bottom: 15px; 
	font-size: 13px;
	color: #3a220d;

}

.maincontent .sidebar .customer_reviews .review_container {
	width: 230px;
	overflow: hidden;
	margin-bottom: 10px;
}
	
.maincontent .sidebar .customer_reviews img {
	float:	left;
	width: 40px;
	height: 40px;
}

.maincontent .sidebar .customer_reviews .review_container .bubble {
	width: 190px;
	min-height: 40px;
	float: right;
	overflow: hidden;
}

.maincontent .sidebar .customer_reviews .pointer {
	position: relative;
	float: left;
	top: 5px;
	left: 9px;
	display: block;
	width: 0;
	z-index: 1;
	border-color: rgba(255, 0, 0, 0) #fff;
	border-style: solid;
	border-width: 15px 15px 15px 0;
}

.comment{
	width: 175px;
	float: right;
	background-color: #fff;
	min-height: 40px;
	padding: 8px;
	color: #555555;
	font-size: 12px;
	line-height: 14px;
	border-radius: 5px;
	border: 1px solid #bbb8a4;
}


.maincontent .sidebar .related_products {
	margin-top: 20px;
	
}

.maincontent .sidebar .related_products .liner{
	margin-right: -10px;
	margin-bottom: -10px;
	overflow: hidden;
}

.maincontent .sidebar .related_products img{
	width:110px;
	height: 110px;
	float: left;
	border: 10px solid #fff;
	margin-right: 10px;	
	margin-bottom:10px;

}
